PORT=3000
NODE_ENV=development

# SQL Server Configuration
DB_USER=data
DB_PASSWORD=TECNOlogia2026.$
DB_SERVER=localhost
DB_NAME=conteo
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true

# Security & JWT
JWT_SECRET=super_secret_jwt_key_somos_peru_2026_conteo_lima
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ERIC_USERNAME=eric
ERIC_PASSWORD=eric123

# Public URLs
FRONTEND_URL=http://localhost:3180
